/*Inici pàgina entrar o registrar*/

.wrapper {
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 100vh;
}

.wrapper .sign-in-page{
    padding: 4rem 3.7rem 0;
}

.wrapper .sign-in-page .header img{
    margin-bottom: 3rem;
}

.wrapper .switcher {
    margin: 3rem 0;
}

.wrapper .switcher .sign-in,
.wrapper .switcher .sign-up {
    padding: .7rem 1rem;
    background-color: var(--borderColor);
}

.wrapper .switcher .sign-in.active,
.wrapper .switcher .sign-up.active {
    background-color: var(--blueColor);
    color: var(--whiteColor);
}

.wrapper .switcher .sign-in {
    border-radius: .3rem 0 0 .3rem;
}

.wrapper .switcher .sign-up {
    border-radius: 0 .3rem .3rem 0;
}

.wrapper ,main .sec {
    animation: fadeIn 1s ease-in;
}

.wrapper .main .sec.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.wrapper .main .sign-in-sec,
.wrapper .main .sign-up-sec {
    padding-bottom: 3rem;
}

.wrapper .main .sign-in-sec h3,
.wrapper .main .sign-up-sec h3 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.wrapper .main .sign-in-sec h3::before,
.wrapper .main .sign-up-sec h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3rem;
    height: .2rem;
    background-color: var(--blueColor);
}

.wrapper .main form .form-group .inner-input {
    margin-bottom: 2rem;
}

.wrapper .main .sign-in-sec form .form-group:not(:nth-child(3)) .inner-input,
.wrapper .main .sign-up-sec form .form-group:not(:nth-child(6)) .inner-input {
    border: 1.rem solid var(--borderColor);
}

.main form .form-group .inner-input i {
    margin-left: 1.5rem;
}

.main form .form-group .inner-input input:not([type="checkbox"]){
    height: 4rem;
    padding: 0 1.5rem 0 2rem;
}

.main form .form-group .inner-input input:not([type="checkbox"]):focus::placeholder{
    opacity: 0;
}

.main form .form-group .inner-input label span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: .1rem solid #d2d2d2;
}

.main form .form-group .inner-input input[type = "checkbox"]+label span::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    font-size: .8rem;
    color: var(--whiteColor);
    background-color: var(--blueColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}

.main form .form-group .inner-input input[type = "checkbox"]:checked+label span::before{
    opacity: 1;
    visibility: visible;
}

.main form .form-group .inner-input small {
    margin-left: 1rem;
}

.main .sign-in-sec .login-resources {
    margin-top: 2.7rem;
}

.main .sign-in-sec .login-resources h4 {
    margin-bottom: 3rem;
}

.main .sign-in-sec .login-resources .social {
    gap: 1rem;
}

.main .sign-in-sec .login-resources a {
    font-size: 1.5rem;
    padding: 1.3rem 1.5rem;
    background-color: var(--blueColor);
    gap: 1.5rem;
}





.wrapper .sign-in-page .header::before,
.wrapper .sign-in-page .header::after,
.wrapper .main::before,
.wrapper .main::after {
    content: "";
    position: absolute;
    background-color: var(--whiteColor);
    border-radius: 50%;
}

.wrapper .sign-in-page .header::before {
    width: 3rem;
    height: 3rem;
    top: -5.5rem;
}

.wrapper .sign-in-page .header::after {
    width: 2rem;
    height: 2rem;
    top: -7.8rem;
    left: -1.5rem;
}

.wrapper .main::before {
    width: 3rem;
    height: 3rem;
    bottom: -1.5rem;
    right: 4rem;
}

.wrapper .main::after {
    width: 2rem;
    height: 2rem;
    bottom: -4rem;
    right: 3rem;
}

/*Pàgina de registre responsiva*/
@media(min-width: 992px){
    .wrapper .sign-in-page {
        width: 95rem;
        height: 63.7rem;
        margin-left: auto;
        margin-right: auto;
    }


    .wrapper .sign-in-page .header {
        border-right: .1rem solid #7c9194;
    }

    .wrapper .sign-in-page .header,
    .wrapper .sign-in-page .main {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .wrapper .main .sec {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}



/*Final pàgina entrar o registrar*/